# This file is part of CPU Energy Meter,
# a tool for measuring energy consumption of Intel CPUs:
# https://github.com/sosy-lab/cpu-energy-meter
#
# SPDX-FileCopyrightText: 2018-2021 Dirk Beyer <https://www.sosy-lab.org>
#
# SPDX-License-Identifier: BSD-3-Clause

BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AlignAfterOpenBracket: AlwaysBreak
#AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: false
ColumnLimit: 100
