Source: cpu-energy-meter
Section: utils
Priority: optional
Maintainer: Philipp Wendler <debian@philippwendler.de>
Build-Depends: debhelper (>= 9),
               libcap-dev
Standards-Version: 3.9.8
Homepage: https://github.com/sosy-lab/cpu-energy-meter
Vcs-Git: https://github.com/sosy-lab/cpu-energy-meter.git
Vcs-Browser: https://github.com/sosy-lab/cpu-energy-meter

Package: cpu-energy-meter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, init-system-helpers (>= 1.3)
Description: Tool for monitoring power consumption of Intel CPUs
 CPU Energy Meter is a Linux tool that allows to monitor power consumption of Intel CPUs
 at fine time granularities (few tens of milliseconds).
 Power monitoring is available for the following power domains:
 - per package domain (CPU socket)
 - per core domain (all the CPU cores on a package)
 - per uncore domain (uncore components, e.g., integrated graphics on client CPUs)
 - per memory node (memory local to a package, server CPUs only)
 - per platform (all devices in the platform that receive power from integrated
   power delivery mechanism, e.g., processor cores, SOC, memory, add-on or
   peripheral devices)
 .
 To do this, the tool uses a feature of Intel CPUs that is called RAPL (Running Average Power Limit).
 RAPL is available on CPUs from the generation Sandy Bridge and later.
