This file is part of CPU Energy Meter,
a tool for measuring energy consumption of Intel CPUs:
https://github.com/sosy-lab/cpu-energy-meter

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
